.hd {
  font-size: 5rem;
  font-family: "Impact";
  font-weight: bolder;
}
.art {
  font-family: "Times New Roman";
  font-size: 2rem;
  margin-top: 25px;
}
.container {
  text-align: center;
  width: 80%;
  margin: 50px auto;
}

.btn {
  padding: 20px 50px;
  color: white;
  background-color: blue;
}
.btn:hover {
  background-color: green;
}
